{
  box-sizing: border-box;
}
/*top bar color*/
header {
  background-color: #33658a ;
}
/*top header text allignment*/
header div{
  text-align: center
}
/*font options of header 1*/
header h1 {
  font-family: optima, courier, monospace;
  color: white;
  padding-top: 20px;
}
/*font options for title*/
header p {
  font-family: times 'Times New Roman', Times, serif;
  color: white;
  padding-bottom: 30px;
}
/* color for the background of site*/
body {
  background-color:#FEFEFB;
}
/*text allignment for main section of page*/
main {
  text-align: center;
  margin-left: 70px;
  margin-right: 70px;
}
/*allignment and font options for lists*/
.left-align{
  text-align: left;
  font-family: optima, couier, monospace;
  font-size: 15px;
}
/*text allignment and color of footer bar*/
footer{
  text-align: center;
  background-color: #33658a;
  height: 40px;
  margin-top: 40px;
}
/*font options for footer*/
footer p{
  font-size: 12px;
  padding: 13px;
  font-style: italic;
}
/*font options for all paragraph text*/
p {
  font-family: optima, couier, monospace;
  font-size: 17px;
}
/*options for page breaks*/
hr {
 height:2px;
 background-color: #102B3F;
}
/*psuedoclasses to modify links*/
a:link    { color: #104F55;  }
a:visited { color: #941C2F;   }
a:hover   { color: #00A9A5; }
a:active  { color: #D16666;  }

